# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/abc-bank.Accounts.Common/obj/Debug
/abc-bank.Accounts.IService/bin/Debug
/abc-bank.Accounts.IService/obj/Debug
/abc-bank.Accounts.Service/bin/Debug
/abc-bank.Accounts.Service/obj/Debug
/abc-bank.sln.ide
/abc-banks.Accounts.IService/obj/Debug
/abc-bank.v14.suo
